
*{
  margin: 0;
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: 'Poppins';
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  
  &::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
  }
}
